<main class="main">
  <p-table [value]="listData" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <div >
        <input placeholder="Name" type="text" pInputText [(ngModel)]="formAddition.name"/>
        <input placeholder="Age" type="text" pInputText [(ngModel)]="formAddition.age"/>
        <input placeholder="Nationality" type="text" pInputText [(ngModel)]="formAddition.nationality"/>
      </div>
      <p-button (click)="handleAdd()" label="Add" severity="success"></p-button>

      <tr>
        <th style="width:25%">Name</th>
        <th style="width:25%">Age</th>
        <th style="width:25%">Nationality</th>
        <th style="width:25%">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="product">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.name">
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.age" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.age }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.nationality" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.nationality }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="handleEdit(product)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="handleUpdate()"
                    class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <p-button *ngIf="!editing" (click)="handleDelete(product['id'])" label="Delete" severity="danger"></p-button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(product, ri)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</main>
